
@{
    ViewData["Title"] = "Chat";
}

<link rel="stylesheet" href="~/css/chat.css" />

<div id="chatcontainer">
    <div id="conversationslist">

    </div>
    <div id="chattitle">
        <!--Name of reciever-->
    </div>
    <div id="messagelist">
    </div>
    <div id="chatform">
        <input id="typemessage" type="text" placeholder="Stuur een message"/>
    </div>


</div>

