@{
    ViewData["Title"] = "About Page";
}
<article class="about">
    <h2>Over StexChange</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci urna, pulvinar nec velit sed, consequat condimentum urna.
        Pellentesque feugiat nibh eu tempus feugiat. Etiam ut est sed velit dignissim blandit a nec lacus. Vivamus gravida est lacus, quis feugiat purus vestibulum a.
        Sed convallis tempor mauris sit amet ornare. Fusce faucibus augue eget consectetur pulvinar.
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
</article>

<article class="about">
    <h2>Initiatiefnemers</h2>
    <p class="img">
        Cras id nisi massa. Ut sit amet suscipit nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        In lorem risus, vulputate eget sem vel, varius aliquam nibh. Maecenas mauris risus, tristique a tellus ac, varius viverra orci.
        Nulla hendrerit facilisis dui gravida faucibus. Curabitur fringilla purus lectus, at vehicula neque iaculis eu. Pellentesque elementum ut ex quis vehicula.
        Proin ullamcorper massa id pulvinar vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        In mollis mauris et urna molestie maximus. In hac habitasse platea dictumst. Integer lacus neque, blandit at tempus non, dictum ut odio. Suspendisse potenti.
        Quisque hendrerit sem id dolor tempor sagittis. Pellentesque placerat velit vel ligula commodo tincidunt.
    </p>
    <a href="https://stadskwekerijdekas.nl/" target="_blank">
        <img src="https://stadskwekerijdekas.nl/wp-content/uploads/2019/11/IMG_2423-min-1.jpg" alt="Stadskwekerij De Kas" style="width:40% !important; height:auto !important;">
    </a>
</article>

<article class="about">
    <h2>Initiatiefnemers</h2>
    <p class="img">
        Cras id nisi massa. Ut sit amet suscipit nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        In lorem risus, vulputate eget sem vel, varius aliquam nibh. Maecenas mauris risus, tristique a tellus ac, varius viverra orci.
        Nulla hendrerit facilisis dui gravida faucibus. Curabitur fringilla purus lectus, at vehicula neque iaculis eu. Pellentesque elementum ut ex quis vehicula.
        Proin ullamcorper massa id pulvinar vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        In mollis mauris et urna molestie maximus. In hac habitasse platea dictumst. Integer lacus neque, blandit at tempus non, dictum ut odio. Suspendisse potenti.
        Quisque hendrerit sem id dolor tempor sagittis. Pellentesque placerat velit vel ligula commodo tincidunt.
    </p>
    <a href="https://stadskwekerijdekas.nl/" target="_blank">
        <img src="https://stadskwekerijdekas.nl/wp-content/uploads/2019/11/IMG_2423-min-1.jpg" alt="Stadskwekerij De Kas" style="width:40% !important; height:auto !important;">
    </a>
</article>