@{
    ViewData["Title"] = "Home Page";
}
<div class="header">
    <h1>STEX</h1><h1>CHANGE</h1>
    <h2>THE EXCHANGE OF STEKS</h2>
</div>
<div class="information">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi orci urna, pulvinar nec velit sed, consequat condimentum urna.
        Pellentesque feugiat nibh eu tempus feugiat. Etiam ut est sed velit dignissim blandit a nec lacus. Vivamus gravida est lacus, quis feugiat purus vestibulum a.
        Sed convallis tempor mauris sit amet ornare. Fusce faucibus augue eget consectetur pulvinar.
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    </p>
</div>
<button type="button">Laten we beginnen</button>


