@{
    ViewData["Title"] = "Login/Register";
}

<article>
  <h2 class="titleleft">STEX</h2><h2 class="titleright">CHANGE</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</article>

<form action="#" method="post">
  <h2>Hey!</br>Welcome back.</h2>
    <p>
			<label for="Email" class="">Email</label>
			<input id="Email" name="Email" type="text">
		</p>
		<p>
			<label for="password" class="">Password</label>
			<input id="password" name="password" type="password">
			<span>Enter a password longer than 8 characters</span>
		</p>
    <a href="www.link.here"><span>Forgot your password?</span></a>
		<p>
			<input type="submit" value="Login" id="submit">
		</p>
	</form>	

<form action="#" method="post">
  <h2>Not a member?</br>Join us!</h2>
    <p>
			<label for="Email" class="">Email</label>
			<input id="Email" name="Email" type="text" value="Fill in your email">
		</p>
		<p>
			<label for="Email" class="">Verify Email</label>
			<input id="Email" name="Email" type="text">
		</p>
		<p>
			<label for="password" class="">Password</label>
			<input id="password" name="password" type="password" value="">
			<span>Enter a password longer than 8 characters</span>
		</p>
		<p>
			<label for="confirm_password" class="">Confirm Password</label>
			<input id="confirm_password" name="confirm_password" type="password">
			<span>Your passwords do not match</span>
		</p>
    <p>By creating an account, you agree to the <a href="www.link.here">Terms of Use</a> and <a href="www.link.here">Privacy Policy</a> </p>
		<p>
			<input type="submit" value="Create My Account" id="submit">
		</p>
	</form>

