@{
    ViewData["Title"] = "Rules page";
}

<article class="about">
    <h2 class="right">Hoe werkt het?</h2>
    <p class="right">
        Aliquam tempus accumsan quam id euismod. Nunc mollis placerat mauris, at feugiat lectus suscipit a. Fusce at libero ut augue tincidunt malesuada ac vel risus.
        Quisque sed bibendum quam. Curabitur arcu mi, convallis a massa nec, interdum congue nisi. Aliquam ultrices neque lorem, sed vulputate enim mattis sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Proin lacinia fermentum massa sit amet rutrum. Aliquam aliquet interdum leo et posuere. Donec ac lobortis dolor. Curabitur tempor sed urna vitae porta. Ut eu elit lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        Quisque in nisl sed purus imperdiet commodo quis eu lectus. Nam ultrices, massa eu pulvinar facilisis, nisi sem porta velit, a tincidunt ligula purus vel neque.
    </p>
</article>