$lightgreen: #b2e8d4;
$green: #4ecd92;
$darkgreen: #015e54;
$lightshadow: rgba(0,0,0,0.1);
$shadow: #b2e8d4;
$darkshadow: rgba(0,0,0,0.8);
$lightshadowwhite: rgba(255,255,255,0.1);
$shadowwhite: rgba(255,255,255,0.3);
$darkshadowwhite: rgba(255,255,255,0.8);

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;

	body {
		overflow: auto; /* Fallback */
		overflow: overlay;
		background-color: #212121;
		width: 100%;
		height: 100%;
		font-family: Bahnschrift;
		font-size: 150%;
		background-image: url("../img/background.png");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: 100% 100%;

		header {
			height: 10%;

			.navbar-default {
				padding-top: 2%;
				padding-left: 5%;
				height: 7%;
				width: 100%;
				z-index: 3;
				position: fixed;
				font-size: 2.3vh;
				transition: 500ms ease;
				background: transparent;

				ul {
					list-style-type: none;
					overflow: hidden;
				}

				li {
					float: left;
					margin-right: 3%;
					transition: 500ms ease;
				}

				li.login {
					transition: 500ms ease;
				}

				li a {
					width: 100%;
					padding-top: 0.3vh;
					padding-bottom: 0.2vh;
					padding-left: 0.8vh;
					padding-right: 0.8vh;
					border-radius: 10px;
					display: block;
					color: $green;
					text-align: center;
					text-decoration: none;
					transition: 0.5s;
				}
				/* Change the link color to #111 (black) on hover */
				li a:hover {
					background-color: $green;
					color: white;
				}

				.active {
					background-color: $green;
					color: white;
				}
			}

			.navbar-default.scrolled {
				padding-top: 0.7%;
				padding-left: 5%;
				height: 4%;
				width: 100%;
				z-index: 3;
				position: fixed;
				font-size: 2.3vh;
				transition: 500ms ease;
				background: white;
				border-bottom-style: solid;
				border-color: $shadow;

				ul {
					list-style-type: none;
					overflow: hidden;
				}

				li {
					float: left;
					margin-right: 3%;
					transition: 500ms ease;
				}

				li.login {
					transition: 500ms ease;
					float: right;
					margin-right: 8%;
				}

				li a {
					font-size: 2vh;
					width: 100%;
					padding-top: 0.3vh;
					padding-bottom: 0.2vh;
					padding-left: 0.8vh;
					padding-right: 0.8vh;
					border-radius: 10px;
					display: block;
					color: $green;
					text-align: center;
					text-decoration: none;
					transition: 0.5s;
				}

				li a.login {
					font-size: 2vh;
					width: 100%;
					padding-top: 0.3vh;
					padding-bottom: 0.2vh;
					padding-left: 0.8vh;
					padding-right: 0.8vh;
					border-radius: 10px;
					display: block;
					color: $green;
					text-align: center;
					text-decoration: none;
					transition: 0.5s;
				}
				/* Change the link color to #111 (black) on hover */
				li a:hover {
					background-color: $green;
					color: white;
				}

				.active {
					background-color: $green;
					color: white;
				}
			}
		}

		main {
			z-index: 1;
			position: relative;
			line-height: 5vh;

			article {
				position: relative;
				font-size: 2.3vh;
				margin: 5%;
				margin-top: 8%;
				font-weight: 30;

				.titleleft {
					font-size: 7vh;
					font-weight: 100;
					position: relative;
					float: left;
					color: $darkgreen;
				}

				.titleright {
					font-size: 7vh;
					font-weight: 100;
					position: relative;
					float: left;
					color: $green;
				}

				h2 {
					font-size: 5vh;
					font-weight: 100;
					width: 100%;
					position: relative;
					float: left;
					color: $green;
				}

				p {
					line-height: 3vh;
					margin-top: 2%;
					font-size: 2.5vh;
					width: 50%;
					position: relative;
					float: left;
					color: $darkgreen;
				}

				.buttonfix {
					width: 100%;
					position: relative;
					float: left;
					margin-top: 12%;

					button {
						font-size: 2vh;
						position: relative;
						float: left;
						border: none;
						background: $darkgreen;
						color: white;
						padding-left: 2vh;
						padding-right: 2vh;
						padding-top: 1vh;
						padding-bottom: 1vh;
						text-transform: uppercase;
						border-radius: 100vh;
						transition: all 0.3s ease 0s;
					}

					button:hover {
						color: $darkgreen;
						background-color: $lightgreen;
						transition: all 0.3s ease 0s;
					}
				}
			}

			.about {
				padding: 1%;
				position: relative;
				float: left;
				font-size: 2.3vh;
				font-weight: 30;
				background-color: $darkshadowwhite;
				margin-top: 2%;
				margin-bottom: 3%;
				border-radius: 1vh;
				box-shadow: 5px 10px $lightshadow;

				img {
					padding-left: 5%;
				}

				.titleleft {
					font-size: 7vh;
					font-weight: 100;
					position: relative;
					float: left;
					color: $darkgreen;
				}

				.titleright {
					font-size: 7vh;
					font-weight: 100;
					position: relative;
					float: left;
					color: $green;
				}

				h2 {
					font-size: 5vh;
					font-weight: 100;
					width: 100%;
					position: relative;
					float: left;
					color: $green;
				}

				p {
					line-height: 3vh;
					margin-top: 2%;
					font-size: 2.5vh;
					width: 100%;
					position: relative;
					float: left;
					color: $darkgreen;
				}

				p.img {
					line-height: 3vh;
					margin-top: 2%;
					font-size: 2.5vh;
					width: 50%;
					position: relative;
					float: left;
					color: $darkgreen;
				}

				h2.right {
					font-size: 5vh;
					font-weight: 100;
					width: 100%;
					position: relative;
					float: right;
					text-align: right;
					color: $green;
				}

				p.right {
					line-height: 3vh;
					margin-top: 2%;
					font-size: 2.5vh;
					width: 100%;
					position: relative;
					float: right;
					text-align: left;
					color: $darkgreen;
				}

				p.right.img {
					line-height: 3vh;
					margin-top: 2%;
					font-size: 2.5vh;
					width: 50%;
					position: relative;
					float: right;
					text-align: right;
					color: $darkgreen;
				}

				.buttonfix {
					width: 100%;
					position: relative;
					float: left;
					margin-top: 12%;

					button {
						font-size: 2vh;
						position: relative;
						float: left;
						border: none;
						background: $darkgreen;
						color: white;
						padding-left: 2vh;
						padding-right: 2vh;
						padding-top: 1vh;
						padding-bottom: 1vh;
						text-transform: uppercase;
						border-radius: 100vh;
						transition: all 0.3s ease 0s;
					}

					button:hover {
						color: $darkgreen;
						background-color: $lightgreen;
						transition: all 0.3s ease 0s;
					}
				}
			}

			.logincontainer {
				font-size: 2.3vh;
				display: flex;
				justify-content: center;

				.item1 {
					width: 40%;

					.loginarticle {
						margin-top: 25%;
						padding-left: 5%;

						p {
							margin-top: 7%;
							width: 100%;
						}
					}
				}

				.item2 {
					width: 30%;

					form {
						margin-top: 10%;
						margin-right: 10%;
						float: right;
						//background-color: #2b2b2b;
						background-image: url("../img/login.png");
						background-size: 110% auto;
						width: 60%;
						border-radius: 1vh;

						h2 {
							margin-left: 10%;
							margin-top: 30%;
							color: white;
							font-weight: 100;
						}

						p {
							margin-left: 10%;
						}

						a {
							margin-top: 65%;
							font-size: 1.2vh;
							text-align: center;
							display: block;
							color: white;
						}

						.nonsubmit {
							padding-top: 2%;
							display: block;
							margin: 0;
							width: 90%;
							border: none;
							border-bottom: 2px solid white;
							background-color: transparent;
							color: white;
							text-overflow: ellipsis;
							font-size: 1em;
							border-radius: 0;
						}

						.submit {
							display: block;
							padding: 2% 7% 2%;
							border: none;
							background-color: $darkgreen;
							margin: 0 auto;
							color: white;
							text-overflow: ellipsis;
							font-size: 1.9vh;
							border-radius: 0.5vh;
							transition: 0.3s;
							margin-top: 8%;
							margin-bottom: 25%;
						}

						.submit:hover {
							background-color: $lightgreen;
							color: $darkgreen;
						}
					}
				}

				.item3 {
					width: 30%;

					form {
						margin-top: 10%;
						margin-right: 30%;
						float: right;
						background-color: #2b2b2b;
						background-image: url("../img/register.png");
						background-size: 103% auto;
						width: 60%;
						border-radius: 1vh;

						h2 {
							margin-left: 10%;
							margin-top: 30%;
							color: white;
							font-weight: 100;
						}

						p {
							margin-left: 10%;
						}

						a {
							font-size: 1.2vh;
							color: white;
						}

						.nonsubmit {
							padding-top: 2%;
							display: block;
							margin: 0;
							width: 90%;
							border: none;
							border-bottom: 2px solid white;
							background-color: transparent;
							color: white;
							text-overflow: ellipsis;
							font-size: 1em;
							border-radius: 0;
						}

						.submit {
							display: block;
							padding: 2% 7% 2%;
							border: none;
							background-color: $darkgreen;
							margin: 0 auto;
							color: white;
							text-overflow: ellipsis;
							font-size: 1.9vh;
							border-radius: 0.5vh;
							transition: 0.3s;
							margin-top: 8%;
							margin-bottom: 25%;
						}

						.submit:hover {
							background-color: $lightgreen;
							color: $darkgreen;
						}

						.terms {
							padding-top: 30%;
							font-size: 1.2vh;
							color: white;
							text-align: center;
							margin: 0;
							line-height: 1.8vh;
						}
					}
				}
			}
		}

		footer {
			opacity: 0;
			z-index: 3;
			position: fixed;
			bottom: 0%;
		}
	}
}
/* width */
::-webkit-scrollbar-track {
	opacity: 0;
}

::-webkit-scrollbar {
	opacity: 0;
	width: 0.5vh;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px $shadow;
	background-color: $lightgreen
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $green;
}

::placeholder {
	color: white;
	font-family: Bahnschrift;
	font-weight: 100;
	font-size: 2.1vh;
	opacity: 1; /* Firefox */
}

*:focus {
	outline: none;
}