$lightgreen: #b2e8d4;
$green: #4ecd92;
$darkgreen: #015e54;
$lightshadow: rgba(0,0,0,0.1);
$shadow: #b2e8d4;
$darkshadow: rgba(0,0,0,0.8);
$lightshadowwhite: rgba(255,255,255,0.1);
$shadowwhite: rgba(255,255,255,0.3);
$darkshadowwhite: rgba(255,255,255,0.8);

* {
    margin: 0;
    padding: 0;
}


html {
    height: 100%;
    width: 100%;

    body {

        input[type=checkbox] + label {
            cursor: pointer;
        }

        input[type=checkbox] {
            display: none;
        }

        input[type=checkbox] + label:before {
            content: "\2714";
            border: 0.1vh solid $darkgreen;
            border-radius: 0.2em;
            color: transparent;
            transition: .2s;
            padding-top: 0.1vh;
            padding-right: 0.2vh;
            padding-left: 0.2vh;
            margin-right: 1vh;
        }

        input[type=checkbox] + label:active:before {
            transform: scale(0);
        }

        input[type=checkbox]:checked + label:before {
            background-color: MediumSeaGreen;
            border-color: MediumSeaGreen;
            color: #fff;
        }
        /* Remove bulletpoints */
        ul, #filter_list {
            list-style-type: none !important;
            /* Add pointer cursor to the caret and prevent text selection*/
            .caret {
                margin-right: 1vh;
                cursor: pointer;
                user-select: none;
                color: black;
                display: inline;
                transition: all 0.5s ease;
            }
            /* Rotate element by 90 deg*/
            .rotated {
                transition: all 0.5s ease;
                transform: rotate(90deg);
            }
            /* Hide nested elements default*/
            .nested {
                display: none;
            }
            /* Show nested elements when expanded*/
            .expanded {
                display: block;
            }

            .span {
                vertical-align: middle;
            }
        }

        #filter_list {
            margin: 0px;
            padding: 0px;
        }

        #forms {
            background-color: #e8e8e8;
            color: $green;
            padding-left: 3vh;
            width: 15%;
            height: 100%;
            /*position: fixed;*/
            border-right: 0.3vh solid $lightshadow;
            float: left;
            margin-right: 8px;
            padding-right: 16px;
            font-size: 1.5vh;

            li {
                border-top: 0.1vh solid $green;
            }

            #apply_filter {
                font-size: 1vh;
                position: relative;
                border: none;
                background: #015e54;
                color: white;
                padding-left: 2vh;
                padding-right: 2vh;
                padding-top: 1vh;
                padding-bottom: 1vh;
                text-transform: uppercase;
                border-radius: 100vh;
                transition: all 0.3s ease 0s;
            }

            #apply_filter:hover {
                color: $darkgreen;
                background-color: $lightgreen;
                transition: all 0.3s ease 0s;
            }

            #apply_sort {
                font-size: 1vh;
                position: relative;
                border: none;
                background: #015e54;
                color: white;
                padding-left: 2vh;
                padding-right: 2vh;
                padding-top: 1vh;
                padding-bottom: 1vh;
                text-transform: uppercase;
                border-radius: 100vh;
                transition: all 0.3s ease 0s;
            }

            #apply_sort:hover {
                color: $darkgreen;
                background-color: $lightgreen;
                transition: all 0.3s ease 0s;
            }

            .nested {
                margin-left: 3vh;
            }

            input[type=range] {
                width: 100%;
                float: left;
                color: $darkgreen;
                background: $green;
            }
        }

        #listings {
            float: left;
            width: 75%;

            .Advertisement {
                float: left;
                width: 30%;
                margin-right: 3%;
                margin-bottom: 3%;
                background-color: $darkshadow;

                .picture {
                    width: 96%;
                    height: calc(30vh);
                    object-fit: cover;
                    margin-left: 2%;
                    margin-top: 2%;
                }

                .title {
                    float: left;
                    line-height: 2vh;
                    text-transform: uppercase;
                    margin-left: 2%;
                    width: 80%;
                    color: $green;
                }

                .description {
                    float: left;
                    margin-left: 2%;
                    width: 80%;
                    color: white;
                }

                .owner {
                    float: right;
                    margin-right: 2%;
                    color: $green;
                }
            }
        }
    }
}
