* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%; }
  html body {
    /* Remove bulletpoints */ }
    html body input[type=checkbox] + label {
      cursor: pointer; }
    html body input[type=checkbox] {
      display: none; }
    html body input[type=checkbox] + label:before {
      content: "\2714";
      border: 0.1vh solid #015e54;
      border-radius: 0.2em;
      color: transparent;
      transition: .2s;
      padding-top: 0.1vh;
      padding-right: 0.2vh;
      padding-left: 0.2vh;
      margin-right: 1vh; }
    html body input[type=checkbox] + label:active:before {
      transform: scale(0); }
    html body input[type=checkbox]:checked + label:before {
      background-color: MediumSeaGreen;
      border-color: MediumSeaGreen;
      color: #fff; }
    html body ul, html body #filter_list {
      list-style-type: none !important;
      /* Add pointer cursor to the caret and prevent text selection*/
      /* Rotate element by 90 deg*/
      /* Hide nested elements default*/
      /* Show nested elements when expanded*/ }
      html body ul .caret, html body #filter_list .caret {
        margin-right: 1vh;
        cursor: pointer;
        user-select: none;
        color: black;
        display: inline;
        transition: all 0.5s ease; }
      html body ul .rotated, html body #filter_list .rotated {
        transition: all 0.5s ease;
        transform: rotate(90deg); }
      html body ul .nested, html body #filter_list .nested {
        display: none; }
      html body ul .expanded, html body #filter_list .expanded {
        display: block; }
      html body ul .span, html body #filter_list .span {
        vertical-align: middle; }
    html body #filter_list {
      margin: 0px;
      padding: 0px; }
    html body #forms {
      background-color: rgba(0, 0, 0, 0.1);
      color: #4ecd92;
      padding-left: 3vh;
      width: 15%;
      height: calc(100vh);
      float: left;
      margin-right: 8px;
      padding-right: 16px;
      font-size: 1.5vh; }
      html body #forms .sort {
        float: left;
        width: 100%;
        line-height: 2vh;
        margin-top: 20%; }
      html body #forms .chose {
        float: left;
        width: 100%;
        line-height: 2vh;
        padding-bottom: 1vh;
        border-bottom: 0.1vh solid #4ecd92; }
      html body #forms li {
        border-top: 0.1vh solid #4ecd92; }
      html body #forms #apply_filter {
        font-size: 1vh;
        position: relative;
        border: none;
        background: #015e54;
        color: white;
        padding-left: 2vh;
        padding-right: 2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        text-transform: uppercase;
        border-radius: 100vh;
        transition: all 0.3s ease 0s; }
      html body #forms #apply_filter:hover {
        color: #015e54;
        background-color: #b2e8d4;
        transition: all 0.3s ease 0s; }
      html body #forms #apply_sort {
        font-size: 1vh;
        position: relative;
        border: none;
        background: #015e54;
        color: white;
        padding-left: 2vh;
        padding-right: 2vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
        text-transform: uppercase;
        border-radius: 100vh;
        transition: all 0.3s ease 0s; }
      html body #forms #apply_sort:hover {
        color: #015e54;
        background-color: #b2e8d4;
        transition: all 0.3s ease 0s; }
      html body #forms .nested {
        margin-left: 3vh; }
      html body #forms input[type=range] {
        width: 100%;
        float: left;
        color: #015e54;
        background: #4ecd92; }
    html body #listings {
      float: left;
      width: 75%; }
      html body #listings .Advertisement {
        float: left;
        width: 30%;
        margin-right: 3%;
        margin-bottom: 3%;
        background-color: rgba(0, 0, 0, 0.8); }
        html body #listings .Advertisement .distance {
          float: left;
          line-height: 2vh;
          text-transform: uppercase;
          width: 80%;
          color: white;
          font-size: 1vh;
          margin-left: 2%;
          font-weight: 200; }
        html body #listings .Advertisement .since {
          float: left;
          line-height: 2vh;
          text-transform: uppercase;
          width: 80%;
          color: white;
          font-size: 1vh;
          margin-left: 2%;
          font-weight: 200; }
        html body #listings .Advertisement .picture {
          width: 96%;
          height: calc(30vh);
          object-fit: cover;
          margin-left: 2%;
          margin-top: 2%; }
        html body #listings .Advertisement .title {
          float: left;
          line-height: 2vh;
          text-transform: uppercase;
          margin-left: 2%;
          width: 50%;
          color: #4ecd92;
          font-size: 1.5vh; }
        html body #listings .Advertisement .description {
          float: left;
          margin-left: 2%;
          width: 80%;
          color: white; }
        html body #listings .Advertisement .filters {
          display: inline-block; }
          html body #listings .Advertisement .filters .filter_tag {
            font-size: 1.2vh;
            line-height: 1.5vh;
            float: left;
            margin-left: 2%;
            margin-right: 2%;
            margin-top: 2%;
            color: white;
            background-color: rgba(78, 205, 146, 0.5);
            padding: 0.2vh 0.5vh 0.2vh;
            border-radius: 0.2vh;
            text-transform: uppercase; }
        html body #listings .Advertisement .owner {
          float: right;
          width: 27%;
          margin-right: 2%;
          color: #4ecd92;
          line-height: 2vh;
          text-align: right;
          font-size: 1.5vh;
          text-transform: uppercase; }
    html body .fullwidth {
      width: 100%;
      float: left; }
      html body .fullwidth .searchbar {
        float: right;
        width: 25%;
        text-align: right;
        margin-right: 2%;
        background-color: rgba(0, 0, 0, 0.8); }
        html body .fullwidth .searchbar input[type=text] {
          float: left;
          background-color: white;
          margin-left: 1%;
          margin-top: 1%;
          margin-bottom: 1%;
          width: 86%;
          height: calc(3vh);
          padding: 1%;
          border: none;
          font-size: 2vh;
          color: #4ecd92; }
        html body .fullwidth .searchbar button {
          width: 10%;
          float: left;
          color: #b2e8d4;
          font-size: 2vh;
          margin-right: 1%;
          line-height: 1vh;
          background-color: none;
          border: none;
          background: none;
          margin-top: 3%;
          cursor: pointer;
          transition: 0.5s; }
        html body .fullwidth .searchbar button:hover {
          color: #015e54; }
        html body .fullwidth .searchbar label {
          display: none;
          transition: 1s; }
      html body .fullwidth .searchbar:hover label {
        display: block;
        display: block;
        color: white;
        font-size: 1.2vh;
        margin-right: 11%;
        margin-bottom: 1%;
        line-height: 3vh; }
