@{
    ViewData["Title"] = "Verify";
}

@{
    object verificationId;
    ViewContext.RouteData.Values.TryGetValue("id", out verificationId);
}

<form action="Verification/@(verificationId)" method="get">
    @if (TempData["Message"].ToString() == "E-mailverificatie Voltooid")
    {
        <h2>E-mail verificatie voltooid</h2>
        <div>
            <p>@TempData["Message"]</p>
        </div>
    }
    else if (TempData["Message"].ToString() == "Ongeldige Link")
    {
        <h2>Je e-mailadress verifiëren</h2>
        <div>
            <p>Ongeldige verificatielink</p>
        </div>
    }
    else if (TempData["Message"] != null)
    {
        <h2>Je e-mailadress verifiëren</h2>
        <div>
            <p>@TempData["Message"]</p>
        </div>
        <a href="@($"/Login/SendNewCode/{TempData["Email"]}")">Stuur een nieuwe verificatielink</a>
    }
</form>

